.navbar{
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    background-color: rgb(34, 34, 34) !important;
    
}

a{
    color: white !important
}

.topbar{
    padding: 0 15px 0 0;

}

.show {
    background-color: rgb(33, 37, 41);
}

.navbar .center {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.25) !important;
}