h3, h4 {
    color: black;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 500;
    overflow: hidden;
    display: block;
    max-height: 4.4rem;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    color: whitesmoke;
    font-size: 16px;
}

.row {
    height: 100px;
}

.inline {
    display: inline-block;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    cursor: pointer;

}
.grid-container {
    height: 342.48px;
    width: 345.25px;
}

.channelThum {
    height: 36px;
    width: 36px;
}
.thumbnail{
    height: 185.19px;
    width: 392.23px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    overflow: hidden;
}


@media (min-width: 400px) {
    .playGround {
      padding: 5px 20px;
    }
  }
  @media (min-width: 500px) {
    .playGround {
      padding: 5px 11px;
    }
  }
  @media (min-width: 960px) {
    .playGround {
      padding: 5px 11px;
    }
  }
  @media (min-width: 1024px) {
    .playGround {
      padding: 5px 5px;
    }
  }
