.hidden {
  display: none;

}

.selected {
  border: 2px solid red;
}
/* 
.video{
  outline: none; 
}

.video:focus{
  border: 10px solid red;
} */


#text{
  color: white;
}
.selected{
  background-color: gray;
}
p:hover {
  background-color: darkslategray;
}
p{
  width: fit-content;
  text-align: center;
  align-self: center;
}
#listItem{
  margin-left: 20px;
}
.vidName{
  color: tan;
}

h1 {
  color: aliceblue;
}
.newvideosdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;

}