.hidden {
  display: none !important;
}

.hidden2 {
    visibility: hidden;
}

.selected {
  border: 2px solid red;
}
.video{
  margin-bottom: 0;
}

#text{
  color: white;
}
.selected{
  background-color: gray;
}
p:hover {
  background-color: darkslategray;
}
p{
  width: fit-content;
  text-align: center;
  align-self: center;
}
#listItem{
  margin-left: 20px;
}
.vidName{
  color: tan;
}

h1 {
  color: aliceblue;
}
.newvideosdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px 50px;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 80vh;
}
.videoborder{
    border: 2px solid red;
}

#confirmButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
}

#confirmform {
    display: flex;
    align-items: center;
    justify-content: center;
}